:root {
    --main-background: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    padding-top: 5vh;
}

.div-container {
    display: flex;
    flex-grow: 1;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    height: 5vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100vw;
    height: 3vh;
}

.navbar ul li {
    padding: 0 10px;
}

.navbar ul li label {
    text-decoration: none;
    color: #ab6d6d;
    font-size: 1.2rem;
    font-weight: 600;
    user-select: none;
}

.navbar ul li label:hover {
    color: #B7B7B7;
    cursor: pointer;
}

.navbar #nav-contact {
    position: absolute;
    right: 0;
}

.container {
    display: flex;
    height: fit-content;
    width: 80vw;
    position: relative;
    align-self: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
    justify-content: flex-start;
}

.text-container {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.container h1 {
    color: #ab6d6d;
    user-select: none;
}

.container p {
    color: #705C53;
    justify-self: center;
    user-select: none;
}

#second-container {
    position: relative;
    margin: 10px auto;
    transition: transform ease-in 0.4s;
}

#second-container:hover {
    transform: scale(1.05);
}

#second-container:active {
    transform: scale(1);
    transition: transform ease-in 0.15s;
}

#third-container {
    position: relative;
    margin: 10px auto;
    transition: transform ease-in 0.4s;
}

#third-container:hover {
    transform: scale(1.05);
}

#third-container:active {
    transform: scale(1);
    transition: transform ease-in 0.15s;
}

#first-container {
    position: relative;
    margin: 10px;
}

.footer {
    width: 100vw;
    height: 10vh;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
    padding: 10px;
    bottom: 0;
    z-index: 100;
    margin-top: 10px;
}

.footer p {
    margin: 5px 0;
    font-size: 1rem;
    color: #ab6d6d;
}

.footer a {
    text-decoration: none;
    color: #ab6d6d;
    font-weight: 600;
}

.footer a:hover {
    color: #F5F5F7;
}

#jap_fan {
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.5s ease-out;
}

#jap_fan:hover {
    transform: rotate(-90deg) scale(0.6);
}

#jap_fan:active {
    transform: rotate(-90deg) scale(0.9);
}

.container-pointer {
    width: 100px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    justify-self: flex-end;
    top: 12.5vh;
    transition: ease-out 0.5s;
}

#react_logo {
    position: absolute;
    right: -1%;
    top: 40%;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
}
