{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vishist Parashar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/ath_logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

<nav class="navbar">
    <ul>
        <li>
            <label>Home</label>
        </li>
        <li>
            <label>GitHub</label>
        </li>
        <li>
            <label>Drop Contact?</label>
        </li>
    </ul>
</nav>

<div class="div-container">
    <div class="container" id="first-container">
        <div>
            <h1>Vishist Parashar</h1>
            <p>Welcome to Vishist Parashar</p>
        </div>
    </div>
    <div class="container" id="second-container">
        <div>
            <h1>Vishist Parashar</h1>
            <p>Welcome to Vishist Parashar</p>
        </div>
    </div>
</div>

<div class="footer">

    <div id="jap_fan" style="background-image: url({% static 'images/japanese_fan.png' %})">

    </div>
</div>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>
