{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vishist Parashar</title>
    <link rel="icon" href="{% static 'images/ath_logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body style="background-image: url('{% static 'images/black_grid.png' %}'); background-repeat: no-repeat;">

<nav class="navbar">
    <ul>
        <li id="nav-home">
            <label><a href="#">Home</a></label>
        </li>
        <li id="nav-github">
            <label><a href="#">GitHub</a></label>
        </li>
        <li id="nav-contact">
            <label><a href="#">Contact</a></label>
        </li>
    </ul>
</nav>
<div id="contextMenu" class="context-menu" style="display:none">
    <ul>
        <li class="hire_me">Hire Me?</li>
        <li class="hire_me"><a href="#">Back on Top</a></li>
    </ul>
</div>
<div class="div-container">
    <div class="container" id="first-container">
        <div class="container-comp" id="game-1"></div>
        <div class="text-container">
            <h1>Vishist Parashar</h1>
            <p>Portfolio</p>
        </div>
        <div class="container-comp" id="game-2">
            <div class="text-line"></div>
            <div id="text-game-2">
                <h4>Skills</h4>
            </div>
            <div class="text-line"></div>
        </div>
        <div class="skills-container">
            hi
            <div class="js-skill">
                hello
            </div>
        </div>
    </div>
    <div class="container" id="second-container">
        <div class="text-container">
            <h1>Athlead</h1>
            <p>Welcome to Athlead, a one-stop fitness solution built with the Django framework.
                This platform empowers users to track workouts, set fitness goals, and access personalized programs, all
                in a single, user-friendly interface. Athlead’s codebase is structured to provide a seamless,
                data-driven experience for users aiming to enhance their fitness journey.</p>
        </div>
        <div class="container-pointer" style="background-image: url({% static 'images/django.png' %})"></div>
    </div>
    <div class="container" id="third-container">
        <div class="text-container">
            <h1>Learn_React</h1>
            <p>React Website created using essential React fundamentals including utilising state hook and dynamic
                styling</p>
        </div>
        <div id='react_logo' class="container-pointer"
             style="background-image: url({% static 'images/react_logo.png' %})"></div>
    </div>
</div>


<div class="footer">
    <div id="jap_fan" style="background-image: url({% static 'images/japanese_fan.png' %})"></div>
</div>

<script src="{% static 'js/right-click.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/fan.js' %}"></script>
<script src="{% static 'js/container-dropdown.js' %}"></script>
</body>
</html>
